<aside
  class="hidden md:flex flex-col w-64 bg-white dark:bg-slate-900 border-r border-slate-200 dark:border-slate-700 p-6 min-h-screen shadow-sm"
>
  <nav class="flex flex-col gap-4 text-slate-700 dark:text-slate-300">
    <a
      routerLink="/app/dashboard"
      routerLinkActive="text-blue-600 dark:text-blue-400 font-semibold"
      class="hover:text-blue-600 dark:hover:text-blue-400 transition"
      >Dashboard</a
    >

    <a
      routerLink="/app/agendamentos"
      routerLinkActive="text-blue-600 dark:text-blue-400 font-semibold"
      class="hover:text-blue-600 dark:hover:text-blue-400 transition"
      >Agendamentos</a
    >

    <a
      routerLink="/app/chamadas"
      routerLinkActive="text-blue-600 dark:text-blue-400 font-semibold"
      class="hover:text-blue-600 dark:hover:text-blue-400 transition"
      >Chamadas</a
    >
  </nav>
</aside>